Deprecate rsa-sha1 option

Hi,

[RFC8301 Section 3.1](https://tools.ietf.org/html/rfc8301#section-3.1) states
Signers MUST sign using rsa-sha256.  Verifiers MUST be
   able to verify using rsa-sha256.  rsa-sha1 MUST NOT be used for
   signing or verifying.

So I would suggest to at least remove the ability to configure rsa-sha1 for new configurations.

And maybe someone is able to integrate https://tools.ietf.org/html/rfc8463#section-3
#264 Add Ed25519-SHA256 signing support?